* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  user-select: none;
}
body {
  scroll-behavior: smooth;
}

.home {
  background-color: #331c52;
  padding: 20px;
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content: center;
}

style.css .ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  line-height: 1.5cm;
}

.maincontainer .hometxt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  line-height: 1.5cm;
}

.maincontainer .hometxt h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #d286e1;
}

.maincontainer .hometxt h2 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.hometxt h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

.hometxt h2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: white;
  }
}

.nav {
  backdrop-filter: blur(40px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 1%;
  width: fit-content;
  margin: auto;
  display: block;
  font-size: 130%;
  border-radius: 10px;
  user-select: none;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.18);
}

.nav:hover {
  box-shadow: 0 0 30px rgba(277, 228, 237, 0.37);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.li:hover {
  background-color: #a200ff;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}

.maincontainer .imgbackground {
  height: 40px;
  filter: drop-shadow(0 0 0.65rem #ffffff);
  box-shadow: none;
}

.Skills {
  background-color: #291c3a;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skillimg:hover {
  transform: scale(1.5);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.Skills .skillimg {
  box-sizing: border-box;
  height: 100px;
  padding: 20px;
}

.profilepicture {
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profilepicture img {
  background-color: #000000;
  border-radius: 40%;
  user-select: none;
  padding: 20px 40px;
  filter: drop-shadow(0 0 0.65rem #ffffff);
}
.container2 {
  background-color: #e1ebed;
  box-sizing: border-box;
  width: 100%;
  height: 327vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 10%;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #e1d7d7;
}

.card1:hover {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 20px; /* Add padding to create empty space around the text */
  margin: 0 auto; /* Center the container horizontally */
  width: 60%; /* Adjust the width as needed */
  box-sizing: border-box;
  flex-wrap: wrap;
  font-size: larger;
  line-height: 210%;
}
.aboutme p {
  margin-top: 2%;
  color: #8121d0;
}

.projects {
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}

.allcards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.navtxtprop {
  color: #291c3a;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 5%;
  text-decoration: underline;
}

.button {
  --width: 120px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #6c18ff;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.DownloadCV {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  border-radius: 2.5rem;
  cursor: pointer;
}

.work {
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  box-sizing: border-box;
  font-size: larger;
}
.allwork,
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px;
}
.work1,
.work2,
.education__item {
  width: 55%;
  margin-top: 1%;
  height: fit-content;
  padding-bottom: 1.3%;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
.workh2,
.education__title {
  color: #291c3a;
  font-size: 2rem;
  margin-left: 3%;
  margin-top: 2%;
  text-align: left;
}

.workh4,
.education__subtitle,
.education__date {
  color: #8121d0;
  margin-left: 3%;
  margin-top: 0.5%;
  text-align: left;
}
.workh2 img {
  width: auto;
  height: 50px;
  float: right;
}
.workp,
.education__description {
  color: #291c3a;
  margin-left: 3%;
  margin-top: 0.5%;
  margin-right: 4%;
  text-align: justify;
}
.work2 .workh2 img {
  width: auto;
  height: 50px;
  margin-right: 9%;
  float: right;
}

.container3 {
  background-color: #331c52;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 2%;
}
.soccard{
  width: 190px;
  height: 254px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-evenly;
}

.soccard h2 {
  z-index: 1;
  color: white;
  font-size: 1.5em;
  background-color: #ff0000;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10 #e1ebed;
}
