html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  user-select: none;
}

.home {
  background-color: #331c52;
  padding: 20px;
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content: center;
}

style.css .ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  line-height: 1.5cm;
}

.maincontainer .hometxt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  line-height: 1.5cm;
}

.maincontainer .hometxt h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #d286e1;
}

.maincontainer .hometxt h2 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.hometxt h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

.hometxt h2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: white;
  }
}

.nav {
  backdrop-filter: blur(40px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 1%;
  width: fit-content;
  margin: auto;
  display: block;
  font-size: 130%;
  border-radius: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.18);
}

.nav:hover {
  box-shadow: 0 0 30px rgba(277, 228, 237, 0.37);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.li:hover {
  background-color: #a200ff;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}

.maincontainer .imgbackground {
  height: 40px;
  filter: drop-shadow(0 0 0.65rem #ffffff);
  box-shadow: none;
}

.Skills {
  background-color: #291c3a;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skillimg:hover {
  transform: scale(1.5);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.Skills .skillimg {
  box-sizing: border-box;
  height: 100px;
  padding: 20px;
}

.profilepicture {
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profilepicture img {
  background-color: #000000;
  border-radius: 40%;
  padding: 20px 40px;
  filter: drop-shadow(0 0 0.65rem #ffffff);
}
.container2 {
  background-color: #e1ebed;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 10%;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #e1d7d7;
}

.card1:hover {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 20px; /* Add padding to create empty space around the text */
  margin: 0 auto; /* Center the container horizontally */
  width: 60%; /* Adjust the width as needed */
  box-sizing: border-box;
  flex-wrap: wrap;
  font-size: larger;
  line-height: 210%;
}
.aboutme p {
  margin-top: 2%;
  color: #8121d0;
}

.projects {
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.allcards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px;
}

.card {
  width: 275px;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

.card::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  bottom: 15px;
  right: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(5deg);
  transition: all 0.1s ease-in;
}

.card::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  bottom: 15px;
  left: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(-5deg);
  transition: all 0.1s ease-in;
}

.card:hover:before,
.card:hover:after {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

.card:hover:before {
  transform: rotate(-8deg);
}

.card:hover:after {
  transform: rotate(8deg);
}

.card__img {
  position: relative;
  background: #ffffff;
  /* background: linear-gradient(315deg, #68aeff, #0032a6); */
  width: 100%;
  height: 175px;
}
.projectimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card__span {
  cursor: pointer;
  font-size: 11px;
  position: absolute;
  background-color: white;
  top: 10px;
  left: 10px;
  padding: 3px 7px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in;
  user-select: none;
}

.card__span:hover {
  transform: translateX(5px);
}

.card-int {
  padding: 20px 0 0 0;
}

.card-int__title {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.card-int__button {
  cursor: pointer;
  margin: 20px 0 0 0;
  padding: 7px 20px;
  width: 100%;
  background-color: rgb(238, 246, 255);
  border: none;
  color: black;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  transition: box-shadow 0.1s ease-in;
  user-select: none;
}

.card-int__button:active {
  box-shadow: 0px 0px 15px rgba(0, 119, 255, 0.5);
}

.card-int__button:hover::before {
  animation: effect_two 0.4s 1;
}

.card-int__button::before {
  content: "Github Repository";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgb(0, 133, 255);
  background: linear-gradient(146deg, #0032a6 0%, #68aeff 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-99%);
  z-index: 1;
  animation: effect_one 10s infinite;
}

.card-int__button:hover::before {
  transform: translateX(0%);
}

.excerpt {
  font-size: 14px;
}

@keyframes effect_one {
  0% {
    transform: translateX(-99%);
  }

  25% {
    transform: translateX(-90%);
  }

  50% {
    transform: translateX(-80%);
  }

  75% {
    transform: translateX(-95%);
  }

  100% {
    transform: translateX(-99%);
  }
}

@keyframes effect_two {
  to {
    transform: translateX(-1%);
  }

  from {
    transform: translateX(-99%);
  }
}

.navtxtprop {
  color: #291c3a;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 5%;
  text-decoration: underline;
}

.button {
  --width: 120px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #6c18ff;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.DownloadCV {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  border-radius: 2.5rem;
  cursor: pointer;
}

.work {
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  box-sizing: border-box;
  font-size: larger;
}
.allwork,
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px;
}
.work1,
.work2,
.education__item {
  width: 55%;
  margin-top: 1%;
  height: fit-content;
  padding-bottom: 1.3%;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
.workh2,
.education__title {
  color: #291c3a;
  font-size: 2rem;
  margin-left: 3%;
  margin-top: 2%;
  text-align: left;
}

.workh4,
.education__subtitle,
.education__date {
  color: #8121d0;
  margin-left: 3%;
  margin-top: 0.5%;
  text-align: left;
}
.workh2 img {
  width: auto;
  height: 50px;
  float: right;
}
.workp,
.education__description {
  color: #291c3a;
  margin-left: 3%;
  margin-top: 0.5%;
  margin-right: 4%;
  text-align: justify;
}
.work2 .workh2 img {
  width: auto;
  height: 50px;
  margin-right: 9%;
  float: right;
}

.container3 {
  background-color: #331c52;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 2%;
}

.hamburger {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: 0.4s;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 1.5%;
  left: 1.5%;
  z-index: 1000;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
}

#scrollTopBtn:hover {
  background-color: #555;
}

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin: auto;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid white;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.connectwithus{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: aliceblue;
  line-height: 1.5cm;
}
.connectwithus .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.connectwithus .card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.explore-btn {
  background-color: red; 
  border: none;
  border-radius: 25px;
  color: black;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  font-weight: 900;
}

.explore-btn:hover {
  background: linear-gradient(45deg, #ff005d, #ff8a00, #fff700, #00ff00, #00ffff, #0000ff, #8a00ff, #ff00ff);
  background-size: 800% 800%;
  animation: gradient 3s ease infinite, glow 1.5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 2px rgba(255, 0, 93, 0.8), 0 0 4px rgba(255, 138, 0, 0.8), 0 0 6px rgba(255, 247, 0, 0.8), 0 0 8px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 255, 0.8), 0 0 12px rgba(0, 0, 255, 0.8), 0 0 14px rgba(138, 0, 255, 0.8), 0 0 16px rgba(255, 0, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 4px rgba(255, 0, 93, 1), 0 0 8px rgba(255, 138, 0, 1), 0 0 12px rgba(255, 247, 0, 1), 0 0 16px rgba(0, 255, 0, 1), 0 0 20px rgba(0, 255, 255, 1), 0 0 24px rgba(0, 0, 255, 1), 0 0 28px rgba(138, 0, 255, 1), 0 0 32px rgba(255, 0, 255, 1);
  }
}

@media (max-width: 600px) {
  .card {
      width: 90%;
  }
}

.form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  margin-top: 3%;
}

.form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 2rem;
}

.form .form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}


.form button {
  width: 100%;
  padding: 10px;
  background: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.form button:hover {
  background: #0056b3;
}

.error {
  color: red;
  font-size: 0.875rem;
}

#socialbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: aliceblue;
  border-radius: 25%;
  line-height: 1.5cm;
  background: #c0392b; 
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  
  background: linear-gradient(to right, #8e44ad, #c0392b); 
  width: 90px;
}

.socialtxt{
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 3%;
  text-decoration: underline;
  color: white;
  text-align: center;
  margin-bottom: 3%;
}