::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background:yellow;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a200ff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #580389; 
  }
  html {
    scroll-behavior: smooth;
  }